* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font family 還沒用*/
}
body {
  display: block;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1000;
  top: 0;
  flex-direction: row;
}

.logo {
  cursor: pointer;
  margin-left: 60px;
  width: 140px;
  align-self: center;
}
.logo img {
  width: 30px;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbarp {
  cursor: pointer;
  margin: 30px 60px;
  color: gray;
  font-size: 18px;
}

#navSearch {
  margin: 0 40px;
}
#navSearch img {
  width: 20px;
  height: auto;
}

.top {
  background-image: url(Image/key-visual.jpg);
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
  background-position-y: 50%;
  background-position-x: 50%;
  margin: 10px 0px;
}

.topP1 {
  color: aliceblue;
  font-weight: bold;
  margin: 10px 10px;
  align-self: center;
}

#topP11 {
  font-size: 38px;
  letter-spacing: 5px;
}
#topP12 {
  font-size: 24px;
  letter-spacing: 10px;
}
#topArrowDown {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
}
#topArrowDown img {
  height: 40px;
  transform: rotate(90deg);
}
.second1 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Image/main1-img.jpg);
  background-size: cover;
  background-attachment: fixed;
  width: 100%;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-position-y: bottom;
  background-position-x: center;
}

#second1p1 {
  color: rgb(255, 255, 255);
  font-size: 18px;
  letter-spacing: 3px;
  line-height: 50px;
  margin-bottom: 20px;
}

#second1button {
  width: 130px;
  height: 40px;
  font-size: 20px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(26, 216, 211);
  color: rgb(26, 216, 211);
  margin: 0 auto;
  cursor: pointer;
}

.second2 {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(Image/main2.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin: 10px 0;
  background-position-y: bottom;
  background-position-x: center;
}
#second2p {
  color: rgb(255, 255, 255);
  font-size: 22px;
  letter-spacing: 3px;
  line-height: 50px;
  margin-bottom: 20px;
}
.second2button {
  width: 180px;
  height: 40px;
  font-size: 20px;
  background: transparent;
  border-radius: 10px;
  border: 2px solid rgb(26, 216, 211);
  color: rgb(26, 216, 211);
  margin: 20px auto;
  cursor: pointer;
}

.second3 {
  background-image: url(Image/main3.jpg);
  background-size: cover;
  background-attachment: fixed;
  height: 700px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  flex-direction: row;
  margin: 10px 0;
  background-position-y: bottom;
  background-position-x: center;
}

.white {
  background-image: url(Image/FE_white.png);
  background-size: cover;
  height: 420px;
  width: 320px;
  margin: 0 40px;
  display: block;
}

.pen img {
  height: 50px;
  width: 50px;
  margin: 40px auto;
}
.second3titile {
  font-size: 20px;
  color: rgb(26, 216, 211);
}
.service-line {
  border: 1px solid rgb(26, 216, 211);
  width: 50px;
  margin: 15px auto;
}

.second3P {
  color: rgb(71, 71, 71);
  line-height: 30px;
}

.second3button {
  color: white;
  border: none;
  font-size: 20px;
  background-color: rgb(26, 216, 211);
  height: 35px;
  width: 140px;
  border-radius: 4px;
  margin-top: 20px;
  cursor: pointer;
}

.third {
  background-image: url(Image/main4.jpg);
  height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  text-align: center;
  background-position-y: bottom;
  background-position-x: center;
}

.frame {
  padding: 35px 20px 0px 20px;
  width: 600px;
  color: white;
  font-size: 18px;
}
#thirdH1 {
  color: white;
  font-size: 30px;
  margin: 30px auto;
}
.thirdline {
  border: 1px solid white;
  width: 40px;
  margin: 0 auto;
}
#thirdP1 {
  margin: 30px auto;
  text-align: left;
  color: white;
  font-size: 18px;
}
#thirdP2 {
  margin-bottom: 100px;
  color: white;
  text-align: left;
  font-size: 18px;
}

.goUp {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#upup {
  height: 50px;
}
footer {
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer1 {
  color: rgb(105, 104, 104);
  font-size: 15;
  margin: 20px;
}
.footer2 {
  color: rgb(26, 216, 211);
  font-size: 15;
  margin: auto 10px;
}
.footergroup {
  display: flex;
  margin: 20px;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.footerimg {
  height: 33px;
  cursor: pointer;
}
.testgo img {
  z-index: 2;
  position: fixed;
  width: 78px;
  height: 69px;
  bottom: 20%;
  right: 0;
  opacity: 0.8;
}

@media (max-width: 480px) {
  body {
    background-color: tomato;
  }
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    flex-direction: row;
  }

  .logo {
    cursor: pointer;
    margin-left: 4px;
    width: 110px;
    align-self: center;
  }
  .logo img {
    width: 10px;
    height: auto;
  }
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbarp {
    cursor: pointer;
    margin: 15px 30px;
    color: gray;
    font-size: 13px;
  }

  #navSearch {
    margin-left: 10px;
  }

  #navSearch img {
    width: 20px;
    height: auto;
  }
  .second1,
  .second2,
  .second3 {
    background-attachment: scroll;
  }
  .top,
  .second1,
  .second2,
  .second3,
  .third {
    min-height: 300px;
  }
  .top,
  .second1,
  .second2,
  .second3,
  .third {
    background-size: cover;
    background-position: center;
  }
  .second3 {
    flex-direction: column;
  }
  .white {
    height: 310px;
    width: 280px;
    margin: auto auto;
  }

  .pen img {
    height: 30px;
    width: 30px;
  }

  .second3P {
    line-height: 20px;
  }

  .second3button {
    font-size: 16px;
    background-color: rgb(26, 216, 211);
    height: 35px;
    width: 140px;
    border-radius: 4px;
    cursor: pointer;
  }

  .third {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url(Image/main4.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    background-position-y: bottom;
    background-position-x: center;
    word-break: break-all;
  }

  .frame {
    padding: 35px 20px 0px 20px;
    width: 100%;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    word-break: break-all;
  }
  #thirdH1 {
    font-size: 30px;
    margin: 30px auto;
  }
  .thirdline {
    width: 40px;
    margin: 0 auto;
  }
  #thirdP1 {
    color: white;
    font-size: 18px;
    word-break: break-all;
  }
  #thirdP2 {
    text-align: left;
    font-size: 18px;
    word-break: break-all;
  }
  footer {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer1 {
    margin: 6px;
    font-size: 10;
  }
  .footer2 {
    margin: auto 10px;
  }
  .footergroup {
    display: flex;
    margin-bottom: 8px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
  }
  .footerimg11 {
    margin-right: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  #footercontact {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 23px;
  }
}
