#quiz {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;
}

.question {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 350px;
  height: 450px;
  opacity: 0.8;
  background-color: rgb(26, 216, 211);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  z-index: 31;
  text-align: center;
}

.question.active {
  display: flex;
}

.quizOption {
  color: rgb(26, 216, 211);
  font-size: 18px;
  background-color: white;
  text-align: center;
  padding: 0px 23px;
  margin: 10px auto;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  border: none;
  display: block;
}

.quizOption:hover {
  color: white;
  background-color: rgb(179, 219, 218);
}

#starth1 {
  color: white;
  font-size: 24px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}

#starthp {
  color: white;
  font-size: 16px;
  padding: 0 50px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
}

.question h2 {
  color: white;
  font-size: 18px;
  padding: 20px 50px 0px 50px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 10px;
}
#resulth2 {
  color: white;
  font-size: 28px;
  padding: 20px 50px 0px 50px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 30px;
  margin-bottom: 50px;
}

.question p {
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

#startBtn {
  color: rgb(26, 216, 211);
  font-size: 18px;
  background-color: white;
  text-align: center;
  padding: 0px 23px;
  margin: 10px auto;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  border: none;
  display: block;
}
#startBtn:hover {
  color: white;
  background-color: rgb(179, 219, 218);
}
@keyframes rotateCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(40deg);
  }
  80% {
    transform: rotate(-100deg);
  }

  100% {
    transform: rotate(var(--final-rotation));
  }
}

@keyframes numberAni {
  0% {
    content: "0%";
  }
  10% {
    content: "15%";
  }
  20% {
    content: "30%";
  }
  30% {
    content: "45%";
  }
  40% {
    content: "60%";
  }
  50% {
    content: "75%";
  }
  60% {
    content: "90%";
  }
  70% {
    content: "80%";
  }
  80% {
    content: "70%";
  }
  90% {
    content: "85%";
  }
  100% {
    content: var(--final-percentage);
  }
}

@keyframes nameAni {
  0% {
    content: "六角學院";
  }
  5% {
    content: "五倍紅寶石";
  }
  10% {
    content: "AppWorks School";
  }
  15% {
    content: "六角學院";
  }
  20% {
    content: "Udemy";
  }
  25% {
    content: "五倍紅寶石";
  }
  30% {
    content: "六角學院";
  }
  35% {
    content: "Udemy";
  }
  40% {
    content: "五倍紅寶石";
  }
  45% {
    content: "彭彭的課程教學";
  }
  50% {
    content: "AppWorks School";
  }
  55% {
    content: "Udemy";
  }
  60% {
    content: "六角學院";
  }
  65% {
    content: "Udemy";
  }
  70% {
    content: "五倍紅寶石";
  }
  75% {
    content: "AppWorks School";
  }
  80% {
    content: "彭彭的課程教學";
  }
  85% {
    content: "AppWorks School";
  }
  90% {
    content: "Udemy";
  }
  95% {
    content: "五倍紅寶石";
  }
  100% {
    content: var(--final-name);
  }
}
.end-pie-chart {
  width: 150px;
  height: 150px;
  border-radius: 75px;
  position: relative;
  overflow: hidden;
  border: 3px solid white;
  margin: 60px auto;
}

.end-pie-chart:before,
.end-pie-chart:after {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  right: 0;
  width: 150px;
  height: 75px;
  border-style: solid;
  border-color: rgb(136, 139, 139);
  border-width: 6px 6px 0;
  border-radius: 75px 75px 0 0;
  transform-origin: 75px 75px;
}

.end-pie-chart:before {
  transform: rotate(180deg);
  animation: rotateCircle 2s ease 0.5s 1 forwards;
}

.end-pie-chart:after {
  transform: rotate(0deg);
  animation: rotateCircle 2s ease 0.5s 1 forwards;
}

.white-in-pie-chart {
  z-index: 4;
  background-color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  width: 140px;
  height: 140px;
  border-radius: 70px;
  text-align: center;
  line-height: 140px;
  font-size: 24px;
  color: rgb(26, 216, 211);
}

.white-in-pie-chart::after {
  content: "";
  animation: numberAni 2s ease 0.5s 1 forwards;
}

.for-end-result {
  color: rgb(26, 216, 211);
  font-size: 25px;
  background-color: white;
  text-align: center;
  padding: 7px 23px;
  margin: 20px auto;
  width: 250px;
  border-radius: 10px;
  line-height: 35px;
  cursor: pointer;
}
.for-end-result:hover {
  color: white;
  background-color: rgb(179, 219, 218);
}

.for-end-result::after {
  animation: nameAni 2s linear 0.5s 1 forwards;
}
