/*搜尋彈出＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
.searchExpend {
  position: fixed;
  display: block;
  width: 100%;
  height: calc(100vh - 85px);
  top: 85px;
  z-index: 3;
  display: none;
  margin-top: 0;
}
#searchFrame {
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: calc((100vh - 85px) / 2);
  z-index: 5;
  align-items: center;
}
.searchbar {
  color: rgb(26, 216, 211);
  text-align: center;
  z-index: 5;
  letter-spacing: 3px;
  font-size: 22px;
  margin-top: 3vh;
  z-index: 5;
}
#searchform {
  width: 60%;
  height: 8vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 2vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#searchinput {
  background-color: white;
  align-self: center;
  padding: 3%;
  width: 80%;
  height: 70%;
  border: 0px solid white;
  letter-spacing: 12px;
  justify-content: center;
}
.microphone {
  background: url(../index/Image/microphone.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.searchsearch {
  background: url(../index/Image/FE_search_green.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

#searchSpace {
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(50vh - 42.5px);
}
