#toppic {
  width: 100%;
  height: 380px;
  background-image: url(Image/member-key.jpg);
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
}
#toppicText {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px;
  border-radius: 5px;
  letter-spacing: 10px;
  padding-left: 23px;
  z-index: 2;
}
main {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: row;
  height: auto;
}
#left {
  margin-top: 40px;
  width: 30%;
  height: 100%;
  padding: 20px;
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
}
#right1 {
  height: 100%;
  width: 55%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}
#right2 {
  height: 100%;
  width: 55%;
  display: none;
  justify-content: start;
  align-items: start;
  padding: 20px;
  flex-wrap: wrap;
}

.quizOption {
  color: white;
  font-size: 18px;
  background-color: rgb(26, 216, 211);
  text-align: center;
  padding: 0px 23px;
  margin: 30px auto;
  width: 200px;
  height: 50px;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  border: none;
  display: block;
}

.quizOption:hover {
  color: white;
  background-color: rgb(179, 219, 218);
}

#profilePhoto {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  background: url(Image/profile-user-img.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0px;
  margin-bottom: 10px;
}

.right1Form {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  margin: 20px auto;
  margin-left: 50px;
}
.right1Form p {
  color: rgb(158, 158, 158);
  font-size: 16px;
  width: 100px;
  text-align: center;
  padding-top: 4px;
}
.right1Form input {
  background-color: rgba(230, 230, 230, 0);
  color: rgb(128, 128, 128);
  font-size: 16px;
  border: 0px solid rgba(230, 230, 230, 0.7);
  width: 320px;
  text-align: left;
  border-radius: 5px;
  height: 30px;
  padding-left: 5px;
}
#change {
  display: none;
}

#change .quizOption {
  margin: 30px;
}

.collectedStar {
  width: calc(33.33% - 14px); /* 減去間距的影響 */
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}
.collectedStarImg {
  width: 180px;
  height: 180px;
  margin: 10px;
  background-color: azure;
  transition: all 0.6s;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  cursor: pointer;
}
.collectedStarImg:hover {
  width: 200px;
  height: 200px;
}

.collectedName {
  text-align: center;
  height: 20px;
  line-height: 20px;
  color: rgb(26, 216, 211);
}
.trashBin {
  background: url(Image/rubbish-bin.svg);
  background-size: cover;
  width: 20px;
  height: 20px;
  margin: 0 auto;
  cursor: pointer;
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
    height: auto;
  }
  #left {
    width: 100%;
    height: auto;

    flex-direction: column;
  }
  #right1 {
    width: 100%;
    height: auto;

    padding: 10px;
  }
  #right2 {
    height: auto;
    width: 50%;

    padding: 10px;
  }
}
/* ........................................... */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font family 還沒用*/
}
body {
  display: block;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.76);
  position: fixed;
  width: 100%;
  z-index: 4; /* 確保 header 在 searchExpend 上方 */
  top: 0;
  height: 85px; /* 確保 header 有固定高度 */
  flex-direction: row;
}

.logo {
  cursor: pointer;
  margin-left: 60px;
  width: 140px;
  align-self: center;
}
.logo img {
  width: 30px;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbarp {
  cursor: pointer;
  margin: 30px 60px;
  color: gray;
  font-size: 18px;
}
.navbarp:hover {
  color: rgb(26, 216, 211);
}

#navSearch {
  margin: 0 40px;
}
#navSearch img {
  width: 20px;
  height: auto;
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}

#navSearch img:hover {
  transform: scale(1.2, 1.2);
}
/* ........................................... */

.arrowleft {
  background-image: url(aritcleimg/arrow-right-one.png);
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 10px;
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}

.blockContent:hover {
  opacity: 0.6;
}

#topArrowDown {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
}
#topArrowDown img {
  height: 40px;
  transform: rotate(90deg);
}

#topArrowDown img {
  height: 40px;
  animation: float 1.8s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-30px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.goUp {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goUp img {
  transition: all 0.3s ease-out;
}
.goUp img:hover {
  transform: scale(1.2, 1.2);
}
#upup {
  height: 50px;
}
footer {
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer1 {
  color: rgb(105, 104, 104);
  font-size: 15;
  margin: 20px;
}
.footer2 {
  color: rgb(26, 216, 211);
  font-size: 15;
  margin: auto 10px;
}
.footergroup {
  display: flex;
  margin: 20px;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.footerimg {
  height: 33px;
  cursor: pointer;
}

.footerimg:hover {
  opacity: 0.7;
}

.testgo img {
  z-index: 2;
  position: fixed;
  width: 78px;
  height: 69px;
  bottom: 20%;
  right: 0;
  opacity: 0.8;
  transition: transform 0.6s ease;
}
.testgo img:hover {
  opacity: 0.6;
  transform: translateY(-15px);
}
/*搜尋彈出＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
.searchExpend {
  position: fixed;
  display: block;
  width: 100%;
  height: calc(100vh - 85px);
  top: 85px;
  z-index: 3;
  display: none;
  margin-top: 0;
}
#searchFrame {
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: calc((100vh - 85px) / 2);
  z-index: 5;
  align-items: center;
}
.searchbar {
  color: rgb(26, 216, 211);
  text-align: center;
  z-index: 5;
  letter-spacing: 3px;
  font-size: 22px;
  margin-top: 3vh;
  z-index: 5;
}
#searchform {
  width: 60%;
  height: 8vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 2vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#searchinput {
  background-color: white;
  align-self: center;
  padding: 3%;
  width: 80%;
  height: 70%;
  border: 0px solid white;
  letter-spacing: 12px;
  justify-content: center;
}
.microphone {
  background: url(../Image/microphone.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
}

.microphone.listening::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid rgb(26, 216, 211);
  opacity: 1;
  animation: pulse 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.searchsearch {
  background: url(../Image/FE_search_green.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

#searchSpace {
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(50vh - 42.5px);
}
/*搜尋彈出＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */

@media (max-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    flex-direction: row;
  }

  .logo {
    cursor: pointer;
    margin-left: 4px;
    width: 110px;
    align-self: center;
  }
  .logo img {
    width: 10px;
    height: auto;
  }
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbarp {
    cursor: pointer;
    margin: auto 10px;
    color: gray;
    font-size: 13px;
  }

  #navSearch {
    margin-left: 10px;
  }

  #navSearch img {
    width: 20px;
    height: auto;
  }

  footer {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer1 {
    margin: 6px;
    font-size: 10;
  }
  .footer2 {
    margin: auto 10px;
  }
  .footergroup {
    display: flex;
    margin-bottom: 8px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
  }
  .footerimg11 {
    margin-right: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  #footercontact {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 23px;
  }
}

.loadpage {
  position: fixed;
  display: block;
  background-color: rgb(26, 216, 211);
  width: 100%;
  height: 120vh;
  z-index: 10;
  opacity: 1;
  top: 0;
  left: 0;
  transition: transform 1s ease, opacity 1s ease; /* 添加過渡效果 */
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadpage.hide {
  transform: translateY(-100%);
  opacity: 0;
}
.loading-img {
  background: url(../index/Image/FE_logo-4.png);
  background-size: cover;
  width: 300px;
  height: 130px;
  animation: loadingImgUpDown 2.5s ease 0s infinite alternate;
  z-index: 10;
}

@keyframes loadingImgUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}

.microphone {
  background: url(../index/Image/microphone.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}
.searchsearch {
  background: url(../index/Image/FE_search_green.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}
