.toppic {
  margin-top: 0;
  width: 100%;
  height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-top: 10px;
  background-image: url(contentImg/test.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  animation: chamgeImage 20s infinite;
}

.toptext {
  font-size: 24px;
  color: white;
  background-color: rgba(128, 128, 128, 0.7);
  padding: 6px;
  border-radius: 5px;
  letter-spacing: 10px;
  padding-left: 23px;
  z-index: 2; /* 確保圖片在文字下面 */
}

.toppic:hover .toptext {
  opacity: 0.6;
}

main {
  display: flex;
  flex-direction: row;
  align-items: self-start;
  justify-content: space-around;
  padding: 20px;
}
.left {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.mainPic {
  height: 266px;
  width: 400px;
  margin: 15px auto;
  border-radius: 5px;
  transition: width 0.6s, height 0.6s;
}

.mainPic:hover {
  width: calc(400px * 1.2);
  height: calc(266px * 1.2);
}

.right {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.title {
  font-size: 20px;
  color: rgb(26, 216, 211);
  text-align: left;
  line-height: 8px;
  font-weight: bold;
  padding: 15px;
}

.mainContent {
  font-size: 16px;
  color: rgb(128, 128, 128);
  line-height: 28px;
  padding: 15px;
}

.mainContent br + br {
  content: "";
  display: block;
  margin-top: 30px;
}
.conclusion {
  font-size: 18px;
  color: rgb(26, 216, 211);
  text-align: center;
  line-height: 8px;
  padding-top: 100px;
}

.underLine {
  border-bottom: 1px solid rgb(26, 216, 211);
  width: 20px;
  margin: 25px auto;
}
.detail {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  width: 80%;
  margin: 10px auto;
  padding: 10px;
}
.box {
  display: flex;
  height: 45px;
  flex-direction: row;
  justify-content: start;
  border-bottom: 1px solid rgba(197, 197, 197, 0.8);
  align-items: center;
}

.qq {
  font-size: 16px;
  color: rgb(26, 216, 211);
  line-height: 35px;
  font-weight: bold;
  width: 100px;
  letter-spacing: 3px;
}
.aa {
  font-size: 16px;
  color: rgb(128, 128, 128);
  line-height: 35px;
  letter-spacing: 3px;
}

@media (max-width: 480px) {
  main {
    flex-direction: column;
    align-items: center;
  }

  .left {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 30px;
  }

  .right {
    width: 100%;
    margin: 0;
    padding: 10px 0;
  }

  .mainPic {
    width: 90%;
    height: auto;
    max-width: calc(400px * 0.8);
  }

  .canceled {
    display: none;
  }

  .mainContent {
    font-size: 14px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  .title {
    font-size: 18px;
    padding: 15px 0;
    text-align: center;
  }

  .conclusion {
    font-size: 16px;
    padding-top: 50px;
  }

  .detail {
    width: 100%;
    padding: 10px 0;
  }
}

/* ........................................... */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font family 還沒用*/
}
body {
  display: block;
  padding-top: 80px;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.76);
  position: fixed;
  width: 100%;
  z-index: 4; /* 確保 header 在 searchExpend 上方 */
  top: 0;
  height: 85px; /* 確保 header 有固定高度 */
  flex-direction: row;
}

.logo {
  cursor: pointer;
  margin-left: 60px;
  width: 140px;
  align-self: center;
}
.logo img {
  width: 30px;
  height: auto;
}
.navbar {
  display: flex;
  align-items: center;
}

.navbarp {
  cursor: pointer;
  margin: 30px 60px;
  color: gray;
  font-size: 18px;
}
.navbarp:hover {
  color: rgb(26, 216, 211);
}

#navSearch {
  margin: 0 40px;
}
#navSearch img {
  width: 20px;
  height: auto;
  transform: scale(1, 1);
  transition: all 0.3s ease-out;
}

#navSearch img:hover {
  transform: scale(1.2, 1.2);
}
/* ........................................... */

.arrowleft {
  background-image: url(aritcleimg/arrow-right-one.png);
  background-size: cover;
  background-position: center;
  width: 10px;
  height: 10px;
  margin-left: 6px;
  transition: all 0.3s ease-in-out;
}

.blockContent:hover {
  opacity: 0.6;
}

#topArrowDown {
  display: block;
  margin-bottom: 10px;
  position: absolute;
  bottom: 44px;
  left: 50%;
  transform: translateX(-50%);
}
#topArrowDown img {
  height: 40px;
  transform: rotate(90deg);
}

#topArrowDown img {
  height: 40px;
  animation: float 1.8s ease-in-out infinite;
}
@keyframes float {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-30px) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}

.goUp {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.goUp img {
  transition: all 0.3s ease-out;
}
.goUp img:hover {
  transform: scale(1.2, 1.2);
}
#upup {
  height: 50px;
}
footer {
  background-color: rgb(231, 231, 231);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer1 {
  color: rgb(105, 104, 104);
  font-size: 15;
  margin: 20px;
}
.footer2 {
  color: rgb(26, 216, 211);
  font-size: 15;
  margin: auto 10px;
}
.footergroup {
  display: flex;
  margin: 20px;
  align-content: center;
  text-align: center;
  justify-content: center;
}
.footerimg {
  height: 33px;
  cursor: pointer;
}

.footerimg:hover {
  opacity: 0.7;
}

.testgo img {
  z-index: 2;
  position: fixed;
  width: 78px;
  height: 69px;
  bottom: 20%;
  right: 0;
  opacity: 0.8;
  transition: transform 0.6s ease;
}
.testgo img:hover {
  opacity: 0.6;
  transform: translateY(-15px);
}
/*搜尋彈出＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */
.searchExpend {
  position: fixed;
  display: block;
  width: 100%;
  height: calc(100vh - 85px);
  top: 85px;
  z-index: 3;
  display: none;
  margin-top: 0;
}
#searchFrame {
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: column;
  opacity: 1;
  height: calc((100vh - 85px) / 2);
  z-index: 5;
  align-items: center;
}
.searchbar {
  color: rgb(26, 216, 211);
  text-align: center;
  z-index: 5;
  letter-spacing: 3px;
  font-size: 22px;
  margin-top: 3vh;
  z-index: 5;
}
#searchform {
  width: 60%;
  height: 8vh;
  background-color: aliceblue;
  border-radius: 20px;
  margin-top: 2vh;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#searchinput {
  background-color: white;
  align-self: center;
  padding: 3%;
  width: 80%;
  height: 70%;
  border: 0px solid white;
  letter-spacing: 12px;
  justify-content: center;
}
.microphone {
  background: url(../Image/microphone.svg);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  position: relative;
}

.microphone.listening::after {
  content: "";
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  border: 2px solid rgb(26, 216, 211);
  opacity: 1;
  animation: pulse 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 0.7;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.3;
  }
  100% {
    transform: scale(0.95);
    opacity: 0.7;
  }
}

.searchsearch {
  background: url(../Image/FE_search_green.png);
  background-repeat: no-repeat;
  background-size: 30px 30px;
  width: 30px;
  height: 30px;
  align-items: center;
  cursor: pointer;
}

#searchSpace {
  background-color: rgba(0, 0, 0, 0.5);
  height: calc(50vh - 42.5px);
}
/*搜尋彈出＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿＿ */

@media (max-width: 480px) {
  header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.3);
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0;
    flex-direction: row;
  }

  .logo {
    cursor: pointer;
    margin-left: 4px;
    width: 110px;
    align-self: center;
  }
  .logo img {
    width: 10px;
    height: auto;
  }
  .navbar {
    display: flex;
    align-items: center;
  }

  .navbarp {
    cursor: pointer;
    margin: auto 10px;
    color: gray;
    font-size: 13px;
  }

  #navSearch {
    margin-left: 10px;
  }

  #navSearch img {
    width: 20px;
    height: auto;
  }

  footer {
    background-color: rgb(231, 231, 231);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .footer1 {
    margin: 6px;
    font-size: 10;
  }
  .footer2 {
    margin: auto 10px;
  }
  .footergroup {
    display: flex;
    margin-bottom: 8px;
    align-content: center;
    text-align: center;
    justify-content: center;
    align-self: flex-start;
  }
  .footerimg11 {
    margin-right: 20px;
    margin-bottom: 20px;
    align-self: flex-end;
  }
  #footercontact {
    align-self: flex-start;
    margin-top: 20px;
    margin-left: 23px;
  }
}

.loadpage {
  position: fixed;
  display: block;
  background-color: rgb(26, 216, 211);
  width: 100%;
  height: 120vh;
  z-index: 10;
  opacity: 1;
  top: 0;
  left: 0;
  transition: transform 1s ease, opacity 1s ease; /* 添加過渡效果 */
}
.loading {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  background-color: aliceblue;
  opacity: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loadpage.hide {
  transform: translateY(-100%);
  opacity: 0;
}
.loading-img {
  background: url(../Image/FE_logo-4.png);
  background-size: cover;
  width: 300px;
  height: 130px;
  animation: loadingImgUpDown 2.5s ease 0s infinite alternate;
  z-index: 10;
}

@keyframes loadingImgUpDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40px);
  }
  100% {
    transform: translateY(0);
  }
}
